* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  height: 100vh;
}

/******************/
/* Modal lightbox */
/******************/

/* Unopened lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

/* Opened lightbox */
.lightbox:target {
  opacity: 1;
  transition: opacity 0.5s ease;
  pointer-events: all;
}

/* Lightbox content */
.lightbox > figure {
  margin: 0;
}

/* Lightbox content */
.lightbox > figure > figcaption {
  position: relative;
  padding: 0;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
  max-width: calc(100vw - 80px);
  transition: all 0.2s ease;
}

.lightbox > figure > figcaption > h3 {
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}


.lightbox > figure > figcaption.scrolling > h3 {
  padding-bottom: 1rem;
}

.lightbox > figure > figcaption > p.content {
  margin: 0;
  padding: 1.5rem;
  padding-top: 0.5rem;
  line-height: 1.5;
}

.lightbox > figure > figcaption.scrolling > p.content {
  max-height: 10rem;
  overflow: auto;
  line-height: 1.5;
}

/* Lightbox background overlay */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  content: "";
  cursor: default;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

/* Close button */
.lightbox .close {
  position: relative;
  display: block;
}

/* Close button */
.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  border-radius: 50%;
  color: #000;
  content: "×";
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.lightbox .close::after:hover {
  background-color: #000;
}

/***********/
/* Buttons */
/***********/

.btn-group {
  display: flex;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  background-color: #f3f3f3;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: 0;
  font-weight: 500;
  font-size: 1rem;
  color: #000;
  letter-spacing: 1px;
  text-decoration: none;
}

.btn:hover {
  background-color: #fff;
  box-shadow: 0 5px 10px -3px rgba(0,0,0,0.3);
  transition: all 0.2s ease;
}

.btn:active {
  transform: translateY(1px);
}

.main-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

ul > li {
  line-height: 1.5;
}

.m-0 {
  margin: 0;
}

.m-b-10 {
  bottom: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.width-15rem {
  width: 15rem;
}

.width-30rem {
  width: 30rem;
}

.width-45rem {
  width: 45rem;
}
