* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Unopened lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

/* Opened lightbox */
.lightbox:target {
  opacity: 1;
  transition: opacity 0.5s ease;
  pointer-events: all;
}

/* Lightbox content */
.lightbox > figure {
  margin: 0;
}

/* Lightbox content */
.lightbox > figure > figcaption {
  position: relative;
  padding: 0;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
  max-width: calc(100vw - 80px);
  transition: all 0.2s ease;
}

.lightbox > figure > figcaption > h3 {
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}


.lightbox > figure > figcaption.scrolling > h3 {
  padding-bottom: 1rem;
}

.lightbox > figure > figcaption > p.content {
  margin: 0;
  padding: 1.5rem;
  padding-top: 0.5rem;
  line-height: 1.5;
}

.lightbox > figure > figcaption.scrolling > p.content {
  max-height: 10rem;
  overflow: auto;
  line-height: 1.5;
}

/* Lightbox background overlay */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  content: "";
  cursor: default;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

/* Close button */
.lightbox .close {
  position: relative;
  display: block;
}

/* Close button */
.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  content: "×";
  cursor: pointer;
  transition: background-color 0.2s ease;
}

ul > li {
  line-height: 1.5;
}

.m-0 {
  margin: 0;
}

.m-b-10 {
  margin: 0 0 10px 0;
}

.width-15rem {
  width: 15rem;
}

.width-30rem {
  width: 30rem;
}

.width-45rem {
  width: 45rem;
}